html
  head
    title Quiz
    link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
    link(href="css/resetslickquiz.css" media="screen" rel="stylesheet" type="text/css")
    link(href="css/slickQuiz.css" media="screen" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/quiz.css" media="screen" rel="stylesheet" type="text/css")
  body#slickQuiz
    nav.z-depth-0
      div.nav-wrapper
        a#logo.brand-logo eLearning
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.material-icons#hamburger menu
        ul.right.hide-on-med-and-down#nav-mobile
          li
            a(href='/profile')= user.userName
          li
            a(href='/settings') Settings
          li
            a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
        ul.side-nav#mobile-demo
          li
            a(href='/profile')= user.userName
          li 
            a(href='/settings') Settings
          li
            a(href='/logout') Logout
    div.quizContent
      h1.quizName
      div.quizArea
        div.quizHeader
          a.button.startQuiz(href="#") Get Started!
      div.quizResults
        h3.quizScore You Scored: &nbsp;
          span#score
        h3.quizLevel Ranking: &nbsp; <!--strong-->
          span
        h3.quizResultsCopy
    script(src="js/jquery-3.1.1.min.js")
    script(src='/js/materialize.min.js')
    script(src="js/slickQuiz.js")
    script(src="js/slickQuiz-config.js")
    script(src="js/quiz.js")