html
	head
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')

		link(href='/css/custom.css' type="text/css" rel="stylesheet")
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
	body
		nav.z-depth-0
			div.nav-wrapper
				a#logo.brand-logo eLearning 
				ul.right.hide-on-med-and-down
					li
						a#loginButton.waves-effect.waves-light.btn-large.z-depth-0(href='#modal1') Login
		div#modal1.modal
			div.modal-content
				h2.modaltext Login on profile
				br
				form(action='/' method='post')
					input#email(type="text" name='email' placeholder='Enter email' required)
					input#password(type='password' name='password' placeholder='Enter password' required)
					input(type='submit' class='btn btn-default btn-large' value='login' id='submit')
							

		main
			div.container
				div.row
					div.col.l10.offset-l1
						div.section1 
							h1 Welcome to the eLearning App
							h4 Let children learn Dutch, Spanish or French while having fun
						div.section2
							div.col.l4
								img.language.circle(src='/images/flag_dutch.png')
							div.col.l4
								img.language.circle(src='/images/flag_spain.png')
							div.col.l4
								img.language.circle(src='/images/flag_france.png')
				div.section3
					a#createButton.waves-effect.waves-light.btn-large.z-depth-0(href='#modal2') Create new profile

		div#modal2.modal
			div.modal-content
				h2.modaltext Create profile
				br
				h2#error-message= message
				form(action='/' method='post')
					input#fullName(type="text" name='fullName' placeholder='Enter full name' required)
					input#userName(type='text' name='userName' placeholder='Enter user name' required)
					input#email(type="text" name='email' placeholder='Enter email' required)
					input#password(type='password' name='password' placeholder='Enter password' required)
					input#conPassword(type="password" name='conPassword' placeholder='Confirm password' required)
					input#submitProfile(type='submit' class='btn btn-default btn-large' value='Submit')


						
		

