html
	head
		title Memory
		link(rel="stylesheet" type="text/css" href="css/materialize.min.css")
		link(rel="stylesheet" type="text/css" href="css/memorygame.css")
		link(rel="stylesheet" type="text/css" href="css/memory.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body.spanish-memory
		ul#dropdown1.dropdown-content
			li
				a(href='/settings') Account
			li
				a(href='/password') Password
		nav
			div.nav-wrapper
				a#logo.brand-logo(href="#") LangGa
				a.button-collapse(href="#" data-activates="mobile-demo")
					i.material-icons#hamburger menu
				ul.right.hide-on-med-and-down#nav-mobile
					li
						a(href='/profile')= user.userName
					li
						a.dropdown-button(href='#' data-activates='dropdown1') Settings
					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
				ul.side-nav#mobile-demo
					li
						a(href='/profile')= user.userName
					ul.collapsible(data-collapsible='accordion')
						li 
							div.collapsible-header 
								a Settings
							div.collapsible-body
								a(href='/settings') Account
								a(href='/password') Password
					li
						a(href='/logout') Logout
		div.row
			div.col.s12.offset-s0.m8.offset-m2.l3.offset-l0
				div.card
					div.card-content
						img.image(src="images/duck.jpg")
						h3#Memory Memory
						div#topscore
							h5 Theme: Food
							h5 Language: Spanish
							h5 Top Score: #{score.score}
						p Match the right picture with the word. The faster you are, and the less tries you use, the better your score. A lower score means a better game!

			div.col.s12.m11.offset-m1.l9
				div#my-memorygame.quizy-memorygame
					ul
						li.match1
							br
							br
							br
							p.text-style1 Carne
						li.match2
							br
							br
							br
							p.text-style1 Pescado
						li.match3
							br
							br
							br
							p.text-style1 Vegetal
						li.match4
							br
							br
							br
							p.text-style1 Almuerzo
						li.match5
							br
							br
							br
							p.text-style1 Arroz
						li.match6
							br
							br
							br
							p.text-style1 Pan
						li.match7
							br
							br
							br
							p.text-style1 Patata
						li.match8
							br
							br
							br
							p.text-style1 Fruta
						li.match9
							br
							br
							br
							p.text-style1 Desayuno
						li.match10
							br
							br
							br
							p.text-style1 Cena
						li.match1
							img(src="images/meat.jpg")
						li.match2
							img(src="images/fish.jpg")
						li.match3
							img(src="images/vegetable.jpg")
						li.match4
							img(src="images/lunch.jpg")
						li.match5
							img(src="images/rice.jpg")
						li.match6
							img(src="images/bread.jpg")
						li.match7
							img(src="images/potato.jpg")
						li.match8
							img(src="images/fruit.png")
						li.match9
							img(src="images/breakfast.jpg")
						li.match10
							img(src="images/dinner.jpg")
		script(src="js/jquery-3.1.1.min.js") 
		script(src="js/jquery-ui.min.js")
		script(src="js/jquery.flip.min.js")
		script(src="js/jquery.quizymemorygame.js") 
		script(src="js/materialize.min.js")
		script(src="js/custom.js") 
		script.
			$('#my-memorygame').quizyMemoryGame({itemWidth: 140, itemHeight: 140, itemsMargin:40, colCount:5, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true});
