html
	head
		title Memory
		link(rel="stylesheet" type="text/css" href="css/materialize.min.css")
		link(rel="stylesheet" type="text/css" href="css/quizymemorygame.css")
		link(rel="stylesheet" type="text/css" href="css/profile.css")
		link(rel="stylesheet" type="text/css" href="css/memory.css")
	body.spanish-memory
		nav
			div.nav-wrapper
				a#logo.brand-logo eLearning
				ul.right.hide-on-med-and-down
					li
						a user.userName
					li
						a(href='/logout') Logout
		h2 Spanish Memory
		h3 Family
		div#my-memorygame.quizy-memorygame
			ul
				li.match1
					br
					br
					br
					p.text-style1 Madre
				li.match2
					br
					br
					br
					p.text-style1 Padre
				li.match3
					br
					br
					br
					p.text-style1 Bebé
				li.match4
					br
					br
					br
					p.text-style1 Padres
				li.match5
					br
					br
					br
					p.text-style1 Hermano
				li.match6
					br
					br
					br
					p.text-style1 Hermana
				li.match7
					br
					br
					br
					p.text-style1 Abuelo
				li.match8
					br
					br
					br
					p.text-style1 Abuela
				li.match9
					br
					br
					br
					p.text-style1 Niño
				li.match10
					br
					br
					br
					p.text-style1 Familia
				li.match1
					img(src="images/mom.jpg")
				li.match2
					img(src="images/dad.jpg")
				li.match3
					img(src="images/baby.jpg")
				li.match4
					img(src="images/parent.jpg")
				li.match5
					img(src="images/brother.jpg")
				li.match6
					img(src="images/sister.jpg")
				li.match7
					img(src="images/grandpa.jpg")
				li.match8
					img(src="images/grandma.jpg")
				li.match9
					img(src="images/child.jpg")
				li.match10
					img(src="images/family.jpg")
		script(src="js/jquery-3.1.1.min.js") 
		script(src="js/jquery-ui.min.js")
		script(src="js/jquery.flip.min.js")
		script(src="js/jquery.quizymemorygame.js") 
		script(src="js/materialize.min.js") 
		script.
			$('#my-memorygame').quizyMemoryGame({itemWidth: 150, itemHeight: 150, itemsMargin:40, colCount:5, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true});