<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/quizymemorygame.css">
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="../static/css/memory.css">
  </script>
</head>
<body class="dutch-memory">
  <nav>
    <div class="nav-wrapper">
      <a id="logo" class="brand-logo">eLearning</a> 
    </div>
  </nav>
  <h1> Dutch Memory </h1>
  <h2> Animals </h2>
  <div id="my-memorygame" class="quizy-memorygame">
    <ul>
      <li class="match1">
       <br><br><br><p class="text-style1">Paard</p>
      </li>
      <li class="match2">
        <br><br><br><p class="text-style1">Kat</p>
      </li>
      <li class="match3">
        <br><br><br><p class="text-style1">Hond</p>
      </li>
      <li class="match4">
        <br><br><br><p class="text-style1">Koe</p>
      </li>
      <li class="match5">
       <br><br><br><p class="text-style1">Muis</p>
      </li>
      <li class="match6">
        <br><br><br><p class="text-style1">Geit</p>
      </li>
      <li class="match7">
        <br><br><br><p class="text-style1">Schaap</p>
      </li>
      <li class="match8">
        <br><br><br><p class="text-style1">Vogel</p>
      </li>
      <li class="match9">
        <br><br><br><p class="text-style1">Kip</p>
      </li>
      <li class="match10">
        <br><br><br><p class="text-style1">Konijn</p>
      </li>
      <li class="match1">
        <img src="../static/images/horse.jpg">
      </li>
      <li class="match2">
        <img src="../static/images/cat.jpg">
      </li>
      <li class="match3">
        <img src="../static/images/dog.jpg">
      </li>
     <li class="match4">
        <img src="../static/images/cow.jpg">
      </li>
      <li class="match5">
        <img src="../static/images/mouse.jpg">
      </li>
      <li class="match6">
        <img src="../static/images/goat.jpg">
      </li>
      <li class="match7">
        <img src="../static/images/sheep.jpg">
      </li>
      <li class="match8">
        <img src="../static/images/bird.jpg">
      </li>
      <li class="match9">
        <img src="../static/images/chicken.jpg">
      </li>
      <li class="match10">
        <img src="../static/images/rabbit.jpg">
      </li>
   </ul>
  </div>
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/jquery-ui.min.js" /></script>
  <script src="../static/js/jquery.flip.min.js" /></script>
  <script src="../static/js/jquery.quizymemorygame.js" /></script>
  <script src="../static/js/materialize.min.js"></script>
  <script>
    $('#my-memorygame').quizyMemoryGame({itemWidth: 150, itemHeight: 150, itemsMargin:40, colCount:5, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true});
  </script>
</body>
</html>