<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/quizymemorygame.css">
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="../static/css/memory.css">
  </script>
</head>
<body class="dutch-memory">
  <nav>
    <div class="nav-wrapper">
      <a id="logo" class="brand-logo">eLearning</a> 
    </div>
  </nav>
  <h1> Dutch Memory </h1>
  <h2> Food </h2>
  <div id="my-memorygame" class="quizy-memorygame">
    <ul>
      <li class="match1">
       <br><br><br><p class="text-style1">Vlees</p>
      </li>
      <li class="match2">
        <br><br><br><p class="text-style1">Vis</p>
      </li>
      <li class="match3">
        <br><br><br><p class="text-style1">Groente</p>
      </li>
      <li class="match4">
        <br><br><br><p class="text-style1">Lunch</p>
      </li>
      <li class="match5">
       <br><br><br><p class="text-style1">Rijst</p>
      </li>
      <li class="match6">
        <br><br><br><p class="text-style1">Brood</p>
      </li>
      <li class="match7">
        <br><br><br><p class="text-style1">Aardappel</p>
      </li>
      <li class="match8">
        <br><br><br><p class="text-style1">Fruit</p>
      </li>
      <li class="match9">
        <br><br><br><p class="text-style1">Ontbijt</p>
      </li>
      <li class="match10">
        <br><br><br><p class="text-style1">Avondeten</p>
      </li>
      <li class="match1">
        <img src="../static/images/meat.jpg">
      </li>
      <li class="match2">
        <img src="../static/images/fish.jpg">
      </li>
      <li class="match3">
        <img src="../static/images/vegetable.jpg">
      </li>
     <li class="match4">
        <img src="../static/images/lunch.jpg">
      </li>
      <li class="match5">
        <img src="../static/images/rice.jpg">
      </li>
      <li class="match6">
        <img src="../static/images/bread.jpg">
      </li>
      <li class="match7">
        <img src="../static/images/potato.jpg">
      </li>
      <li class="match8">
        <img src="../static/images/fruit.png">
      </li>
      <li class="match9">
        <img src="../static/images/breakfast.jpg">
      </li>
      <li class="match10">
        <img src="../static/images/dinner.jpg">
      </li>
   </ul>
  </div>
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/jquery-ui.min.js" /></script>
  <script src="../static/js/jquery.flip.min.js" /></script>
  <script src="../static/js/jquery.quizymemorygame.js" /></script>
  <script src="../static/js/materialize.min.js"></script>
  <script>
    $('#my-memorygame').quizyMemoryGame({itemWidth: 150, itemHeight: 150, itemsMargin:40, colCount:5, animType:'flip' , flipAnim:'tb', animSpeed:250, resultIcons:true});
  </script>
</body>
</html>