html
	head
		title Password
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href='/css/settings.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo(href="#") eLearning
				a.button-collapse(href="#" data-activates="mobile-demo")
					i.material-icons#hamburger menu
				ul.right.hide-on-med-and-down#nav-mobile
					li
						a(href='/settings') Settings
					li
						a(href='/profile') user.userName
					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
				ul.side-nav#mobile-demo
					li 
						a(href='/settings') Settings
					li
						a(href='/logout') Logout
					li
						a(href='/') Home
		div.row
			div.col.l3
				div.card
					div.card-content
						img.image(src="images/duck.jpg")
						h3 User Name
						br
						a.Button.waves-effect.waves-light.btn-large.z-depth-0(href='/settings') Account
						a.Button.waves-effect.waves-light.btn-large.z-depth-0(href='/password') Password
						a.Button.waves-effect.waves-light.btn-large.z-depth-0(href='/profileSettings') Profile



			div.col.l8
				div.col.l12
					div.card
						div#settings.card-content
							h3 Password Settings
							form(action='/password' method='POST')
								input#currentPW(type='text' name='currentPW' placeholder='Enter current password' required)
								input#newPW(type="text" name='newPW' placeholder='Enter new password' required)
								input#confirmPW(type="text" name='confirmPW' placeholder='Confirm new password' required)
								input#saveButton(type='submit' class='btn btn-default btn-large' value='Save Changes')
