html
	head
		title Password
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href='/css/settings.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')
	body
		ul#dropdown1.dropdown-content
			li
				a(href='/settings') Account
			li
				a(href='/password') Password
		nav
			div.nav-wrapper
				a#logo.brand-logo(href="#") LangGa
				a.button-collapse(href="#" data-activates="mobile-demo")
					i.material-icons#hamburger menu
				ul.right.hide-on-med-and-down#nav-mobile
					li
						a(href='/profile')= user.userName
					li
						a.dropdown-button(href='#' data-activates='dropdown1') Settings
					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
				ul.side-nav#mobile-demo
					li
						a(href='/profile')= user.userName
					ul.collapsible(data-collapsible='accordion')
						li 
							div.collapsible-header 
								a Settings
							div.collapsible-body
								a(href='/settings') Account
								a(href='/password') Password
					li
						a(href='/logout') Logout
	
		div.row
			div.col.l6.m8.offset-l3.offset-m2
				div.col.l12
					div.card
						div#settings.card-content
							h3 Password Settings
							form(action='/password' method='POST')
								div.input-field
									input#currentPW(type='password' name='currentPW' required)
									label(for='currentPW') Enter current password
								div.input-field
									input#newPW(type="password" name='newPW' required)
									label(for='newPW') Enter new password
								div.input-field
									input#confirmPW(type="password" name='confirmPW' required)
									label(for='confirmPW') Confirm new password
									input#saveButton(type='submit' class='btn btn-default btn-large' value='Save Changes')
									h5= message
