html
	head
		link(href='/css/custom.css' type="text/css" rel="stylesheet")
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href='/css/profile.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo eLearning
		div#parent
			div#sidebar
				img(src="images/duck.jpg")
				div.container#profile
					h2 Username
					h3 Profile
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			div#main-content
				div.container#games
					div.row
						div.col.l10.offset-l1
							h2 Progress
							div.games
								div#firstlang
									h4 Dutch
									h5 Memory Game
									img.gamepic(src="images/memory-example.png")
									div.col.s8.offset-l1
										a button 1 &nbsp;
										a button 2 &nbsp;
										a button 3 &nbsp;
										a button 4 &nbsp;
								div#seclang
									h4 Spanish
									h5 Memory Game
									img.gamepic(src="images/memory-example.png")
									div.col.s8.offset-l1
										a button 1 &nbsp;
										a button 2 &nbsp;
										a button 3 &nbsp;
										a button 4 &nbsp;
								div#thirdlang
									h4 French
									h5 Memory Game
									img.gamepic(src="images/memory-example.png")
									div.col.s8.offset-l1
										a button 1 &nbsp;
										a button 2 &nbsp;
										a button 3 &nbsp;
										a button 4 &nbsp;
								div#fourthlang
									h4 Chinese
									h5 Memory Game
									img.gamepic(src="images/memory-example.png")
									div.col.s8.offset-l1
										a button 1 &nbsp;
										a button 2 &nbsp;
										a button 3 &nbsp;
										a button 4 &nbsp;
			br
			br