html
	head
		title
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href='/css/profile.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo eLearning
				ul.right.hide-on-med-and-down
					li
						a user.userName
					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
		div#profile.row
			div.col.s3
				div.card
					div.card-content
						img.image(src="images/duck.jpg")
						h3 username
						p Lorem ipsumn dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			div#progress.col.s9
				div.col.s12
					div#gameTitle.card
						div.card-content
							h3.game Memory


				div.col.s4
					div.card
						div.card-content
							h4 Dutch
							div.results
								- var nlresult = []
									- for(var i = 0; i < id.length; i++)
										-if (id[i].language == 'NL')
											- nlresult.push(id[i].id)
									- if (nlresult.length == 0)
										a(href="/memory-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlresult.length == 1)
										a(href="/memory-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlresult.length == 2)
										a(href="/memory-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-nl" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlresult.length == 3)
										a(href="/memory-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br
							

						
				div.col.s4
					div.card
						div.card-content
							h4 Spanish
							div.results
								- var esresult = []
									- for(var j = 0; j < id.length; j++)
										- if(id[j].language == "ES")
											- esresult.push(id[j].id)
									- if(esresult.length == 0)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 1)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 2)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 3)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br
				div.col.s4
					div.card
						div.card-content
							h4 French
							div.results
								- var frresult = []
									- for(var k = 0; k < id.length; k++)
										- if(id[k].language == "FR")
											- frresult.push(id[k].id)
									- if(frresult.length == 0)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frresult.length == 1)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frresult.length == 2)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frresult.length == 3)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.s12
					div#gameTitle.card
						div.card-content
							h3.game Quiz 


				div.col.s4
					div.card
						div.card-content
							h4 Dutch
							div.results
								- var esresult = []
									- for(var j = 0; j < id.length; j++)
										- if(id[j].language == "ES")
											- esresult.push(id[j].id)
									- if(esresult.length == 0)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 1)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 2)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 3)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.s4
					div.card
						div.card-content
							h4 Spanish
							div.results
								- var esresult = []
									- for(var j = 0; j < id.length; j++)
										- if(id[j].language == "ES")
											- esresult.push(id[j].id)
									- if(esresult.length == 0)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 1)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 2)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 3)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.s4
					div.card
						div.card-content
							h4 French
							div.results
								- var esresult = []
									- for(var j = 0; j < id.length; j++)
										- if(id[j].language == "ES")
											- esresult.push(id[j].id)
									- if(esresult.length == 0)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 1)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 2)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esresult.length == 3)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

							