body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #1EA4A4;
  font-family: "Comic Sans MS";
}

.nav-wrapper {
	background-color: #1EA4A4;
}

.right.hide-on-med-and-down {
	padding-right: 150px;
}

h1 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;

}

#logo {
  padding-left: 150px;
  font-size: 40px;
}

#logo.brand-logo {
	color: white;
}

#topcard {
  margin-top: -80px;
}

#error-message {
	color: red;
	font-size: 15px;
	font-style: italic;
	text-align: left;
}

#loginButton {
	background-color: white;
	color: #1EA4A4;
	font-size: 20px;
}

#createButton {
	background-color: white;
	color: #1EA4A4;
	font-size: 20px;
	width: 25%;
}

.btn.btn-default.btn-large {
	background-color: #1EA4A4;
	color: white;
}

.section1 {
	padding-top: 100px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.section2 {
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.section3 {
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

main {
  flex: 1 0 auto;
}

#logo {
  color: #F8D480;

}

.col.l4 {
	padding: 30px;
}

.language{
	width: 300px;
	height: 300px;
}
#modal1.modal {
	width: 600px;
}

#modal2.modal {
	width: 600px;
}

.modal-content {
	width: 550px;
}

form {
	padding-left: 60px;
	padding-bottom: 20px;
	font-size: 20px;
}

.modaltext {
	color: #1EA4A4;
	padding-left: 60px;
	padding-top: 30px;
}

#fullName {
	font-size: 20px;
}

#userName {
	font-size: 20px;
}

#email{
	font-size: 20px;
}

#password{
	font-size: 20px;
}

#conPassword {
	font-size: 20px;
}
