body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS";
  background-color: #F4FFFE;
  zoom: 0.8; }

h1, h2, h3, h4, h5 {
  color: #FD4F21; }

.nav-wrapper {
  background-color: #1EA4A4; }
  .nav-wrapper #logo {
    padding-left: 150px;
    font-size: 40px;
    color: white; }
  .nav-wrapper #hamburger {
    font-size: 70px; }
  .nav-wrapper a {
    font-size: 30px; }
  .nav-wrapper .right.hide-on-med-and-down {
    padding-right: 150px; }
    .nav-wrapper .right.hide-on-med-and-down #logoutButton {
      background-color: white;
      color: #1EA4A4;
      font-size: 20px;
      border-radius: 30px; }

@media only screen and (max-width: 600px) {
  #hamburger {
    margin-top: 20px; } }

.row {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px; }
  .row .image {
    max-width: 100%;
    border-radius: 30px;
    display: block;
    margin: auto; }
  .row #Memory {
    background-color: #FD4F21;
    color: white;
    border-radius: 30px;
    text-align: center; }
  .row #topscore {
    border-radius: 30px;
    border-color: #FD4F21; }
  .row p {
    font-size: 24px; }
  .row div#my-memorygame {
    margin-left: 10px; }
    .row div#my-memorygame .text-style1 {
      font-family: "Comic Sans MS";
      font-size: 22pt;
      color: #FD4F21;
      font-weight: normal;
      margin: -55px 0 0 0; }
    .row div#my-memorygame .text-style2 {
      font-family: "Comic Sans MS";
      font-size: 22pt;
      color: #FD4F21;
      font-weight: normal;
      margin: -72px 0 0 0; }
    .row div#my-memorygame img {
      border-radius: 20px; }

@media only screen and (max-width: 768px) {
  #my-memorygame {
    margin-left: 25px; } }
