body.dutch-memory, body.spanish-memory {
  zoom: 0.8; }

.dutch-memory h1, h2, h3 {
  text-align: center; }

.spanish-memory h1, h2, h3 {
  text-align: center; }

div#my-memorygame .text-style1 {
  font-family: Yanone;
  font-size: 24pt;
  color: #56605f;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
  margin: -65px 0 0 0; }

div#my-memorygame img {
  border-radius: 20px; }

.row {
  padding-top: 30px; }

.card {
  border-radius: 30px; }
