body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS";
  background-color: #F4FFFE;
  zoom: 0.8; }

h1, h2, h3, h4, h5 {
  text-align: left;
  color: #FD4F21; }

.nav-wrapper {
  background-color: #1EA4A4; }
  .nav-wrapper #logo {
    padding-left: 150px;
    font-size: 40px;
    color: white; }
  .nav-wrapper #hamburger {
    font-size: 70px; }
  .nav-wrapper a {
    font-size: 30px; }
  .nav-wrapper .right.hide-on-med-and-down {
    padding-right: 150px; }
    .nav-wrapper .right.hide-on-med-and-down #logoutButton {
      background-color: white;
      color: #1EA4A4;
      font-size: 20px;
      border-radius: 30px; }

@media only screen and (max-width: 600px) {
  #hamburger {
    margin-top: 20px; } }

.row {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px; }
  .row .card {
    border-radius: 30px; }
    .row .card .card-content {
      margin: 10; }
      .row .card .card-content .image {
        max-width: 100%;
        text-align: left;
        border-radius: 30px;
        display: block;
        margin: auto; }
      .row .card .card-content .Button {
        background-color: #FD4F21;
        color: white;
        width: 350px;
        max-width: 100%;
        font-size: 20px;
        border-radius: 30px; }
    .row .card #settings {
      text-align: left;
      margin: 10; }
      .row .card #settings h3 {
        padding-bottom: 80px; }
      .row .card #settings form {
        padding: 60px 300px 30px 200px;
        font-size: 25px; }
        .row .card #settings form #newUserName {
          font-size: 25px; }
        .row .card #settings form #newEmail {
          font-size: 25px; }
        .row .card #settings form #newPW {
          font-size: 25px; }
        .row .card #settings form #currentPW {
          font-size: 25px; }
        .row .card #settings form #confirmPW {
          font-size: 25px; }
        .row .card #settings form #newFullName {
          font-size: 25px; }
        .row .card #settings form #location {
          font-size: 25px; }
        .row .card #settings form #bio {
          font-size: 25px; }
        .row .card #settings form #profileImage {
          font-size: 25px; }
        .row .card #settings form label {
          font-size: 20px;
          color: #FD4F21; }
        .row .card #settings form .btn.btn-default.btn-large {
          background-color: #FD4F21;
          color: white;
          border-radius: 30px !important; }
