$mainColor: #1EA4A4;
$mainTextColor: #FD4F21;
$inputSize: 20px;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $mainColor;
  font-family: "Comic Sans MS";
  overflow: hidden;
  zoom: 0.8;
}

@media only screen and (max-width: 992px) {
	body {
		overflow: auto;
	}
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width: 768px) {
    main {
        zoom: 1;
    }
}
@media only screen and (max-width: 425px) {
     main {
        zoom: 2;
    }
}

//Navbar CSS
.nav-wrapper {
	background-color: $mainColor;
	
	#logo {
  		padding-left: 150px;
  		font-size: 40px;
  		color: white;
	}

	#hamburger {
        font-size: 70px;
    }

	.right.hide-on-med-and-down {
		padding-right: 150px;

		#loginButton {
			background-color: white;
			color: $mainColor;
			font-size: 20px;
			border-radius: 30px;
		}
	}
}

@media only screen and (max-width: 600px) {
    #hamburger {
            margin-top: 20px;
    }
}

//Modal layout
.modal {
	width: 600px;
	border-radius: 30px;

	.modal-content {
		width: 550px;

		.modaltext {
			color: $mainColor;
			padding-left: 60px;
			padding-top: 30px;
		}

		#error-message {
			color: $mainTextColor;
			font-size: 15px;
			font-style: italic;
			text-align: left;
			padding-left: 60px;
		}

		form {
			padding-left: 60px;
			padding-bottom: 20px;
			font-size: 20px;

			#fullName {
				font-size: $inputSize;
			}

			#userName {
				font-size: $inputSize;
			}

			#email {
				font-size: $inputSize;
			}

			#password {
				font-size: $inputSize;
			}

			#conPassword {
				font-size: $inputSize;
			}

			.btn.btn-default.btn-large {
				background-color: $mainColor;
				color: white;
				border-radius: 30px!important;
			}

			#email2 {
				font-size: $inputSize;
			}

			#password2 {
				font-size: $inputSize;
			}
		}
	}
}

//sections in main

.section1 {
	padding-top: 90px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	h1 {
		text-align: center;
		color: white;
	}

	h4 {
		text-align: center;
		color: white;
	}
}

.section2 {
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	.col.l4 {
		padding: 20px;

		.language {
			width: 300px;
			height: 300px;
			display: block;
			margin: 0 auto;
		}
	}
}

.section3 {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	#createButton {
		background-color: white;
		color: $mainColor;
		font-size: 20px;
		width: 25%;
		border-radius: 30px;
	}
}