$langWidth: 400px;
$mainColor: #1EA4A4;
$backgroundColor: #F4FFFE;
$mainTextColor: #FD4F21;

body {
    padding: 0;
    margin: 0;
    overflow: hidden; 
    font-family: "Comic Sans MS";
    background-color: $backgroundColor;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: $mainTextColor;
}


.nav-wrapper {
    background-color: $mainColor;

    #logo {
        padding-left: 150px;
        font-size: 40px;
        color: white;
    }

    a {
        font-size: 30px;
    }

    .right.hide-on-med-and-down {
        padding-right: 150px;

        #loginButton {
            background-color: white;
            color: $mainColor;
            font-size: 20px;
        }
    }
}

//Body Content
#parent {
    margin-left: 600px;
    //Profile bar
    #sidebar {
        position: fixed;
        top: 100px;
        left: 0px;
        bottom: 0px;
        width: 600px;
        border-right: 1px solid $backgroundColor;
        overflow: hidden;

        #row1 {
            padding: 40px;

            .card-image {
                height: 300px;
                width: auto;
            }

        }

    }

    //Progress content
    #games {
        width: 100%;

        #gameTitle {
            text-align: left;
            padding-left: 120px;
            padding-top: 30px;
        }

        .gamepic {
            display: block;
            width: 700px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .games {
            text-align: center;
            h4 {
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
            }
            .buttons {
                width: 50px;
                height: 50px;
            }
            #firstlang {
                float: left;
                width: $langWidth;
                margin-bottom: 10
                0px;
            }
            #seclang {
                float: left;
                width: $langWidth;
            }
            #thirdlang {
                float: left;
                width: $langWidth;
            }
        }
    }
}